.*~
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
ajax_example
myproject.sql

django_app/webapp/ansible_django/os/.vagrant
django_app/webapp/ldap_stuff
django_app/webapp/*.pyc

webserver/web_vagrant/.vagrant

dbserver/.vagrant

web/django_app/webapp/ansible_django
web/django_app/webapp/ldap_stuff
web/django_app/webapp/*.pyc
web/django_app/webapp/static
web/django_app/webapp/migrations
