.*~
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

django_app/webapp/ansible_django/os/.vagrant
django_app/webapp/ldap_stuff
django_app/webapp/*.pyc

vagrant/dbserver/.vagrant

vagrant/webserver/.vagrant
vagrant/webserver/django_app

docker/web/django_app
docker/db/myproject.sql
docker/db/mysql
docker/build.log
