{% extends "main.html" %}
{% block header %}


<script type="text/Javascript" charset="utf-8">
</script>
{% endblock header %}
{% block content %}

<p><h2>Get status and fix server</h2></p>
<p> [ v0.1 ] - web engine to fix servers 
<br><br>
<h4>TECHNICAL SUPPORT:</h4>
<table id="developers_list" class="display compat" width="100%" cellspacing="1"  border="1" cellpadding="1">
  <thead>
     <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
    </tr>
    <tr>
      <td> Michal Swierczewski </td>
      <td> michal.swierczewski@pl.ibm.com </td>
      <td> phone </td>
      <td> CMS DevOps Engineer  </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>  
</table>  

{% endblock content %}

