<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Login page</title>
  </head>
  <body>
    <div id="main">
      <div id="login">
		  <div class="form-group">
			<label for="exampleInputName2">Intranet Name</label>
			<input type="text" class="form-control" id="exampleInputName2" placeholder="intranet name">
		  </div>
		  <div class="form-group">
			<label for="exampleInputEmail2">Password</label>
			<input type="password" class="form-control" id="exampleInputEmail2" placeholder="intranet password">
		  </div>
		  <button type="submit" class="btn btn-primary">Login</button>
    </div>
    </div>
  </body>
</html>
