<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Login page</title>
  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </body>
</html>

