<!doctype html>
<html lang="en">
    <head>
        <title>Main page after successfull login</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>

    <body>

    <div class="menu">
    {% block menu %}
        <ul id="menu">
            <li class=""> <a href='/webapp' class="">home</a></li>
            <li class=""> <a href='/webapp/about' class="">about</a></li>
        </ul>
        {% endblock menu %}
    </div>


    <div id="main">
      <div class="right">
        <strong>Username and surname </strong>
        <button type="button" class="btn btn-primary btn-sm">logout</button>
      </div>
      <div class="clear"></div>
      <ul id="form-list">
        <li>
          <span>Client:</span>
          <select class="custom-select">
            <option selected>Select client</option>
            <option value="1">Allianz</option>
            <option value="2">Second</option>
            <option value="3"> {{ client }} </option>
          </select>
        </li>

        <li>
          <span>Client_test:</span>
          <select class="custom-select">
            <option selected>Select client</option>
            {% for c in client %}
              <option value="{{ c.id }}">{{ c }}</option>
            {% endfor %}
          </select>
        </li>

        <li>
          {% for s in system %}
            <option value="{{ s.id }}">{{ s }}</option>
          {% endfor %}
        </li>



        <li>
          <span>Client_test_ajax:</span>
          <select id="client" class="custom-select">
            <option selected>Select client</option>
            {% for c in client %}
              <option value="{{ c.id }}">{{ c }}</option>
            {% endfor %}
          </select>
        </li>

        <li>
          <span>Server_test_ajax:</span>
          <select id="server" class="custom-select" disabled="disabled">
          </select>
        </li>


        <li>
          <span>Run_command_ajax:</span>
          <select id="run_command" class="custom-select"  disabled="disabled">
          </select>
        </li>


        <li>
          <span>Server:</span>
          <select class="custom-select">
            <option selected>Select server</option>
            <option value="1">server1</option>
            <option value="2">Second</option>
            <option value="3">Third</option>
          </select>
        </li>

        <li>
          <span>Server_test:</span>
          <select class="custom-select">
            <option selected>Select server</option>
            <option value="1">server1</option>
          </select>
        </li>

        <li>
          <span>Run command:</span>
          <select class="custom-select" id="disabledSelect">
            <option selected>Select command to run</option>
            <option value="1">check memory</option>
            <option value="2">Second</option>
            <option value="3">Third</option>
          </select>
        </li>
        <li>
          <span></span>
          <button type="button" class="btn btn-primary btn-lg">run</button>
        </li>
        <li>
          <span id="command-span">Command progress:</span>
          <progress class="progress progress-striped" value="75" max="100">75%</progress>
        <li>
          <span>Output:</span>
        </li>
        <li>
          <pre>[hostname]$ free -m
                  total        used        free      shared  buff/cache   available
    Mem:           7685        3691         316         859        3678        2745
    Swap:          8191         347        7844
          </pre>
        </li>
      </ul>
    </div>
    <script>
        $(document).ready(function(){
            $('#client').change(function(){
                var selected_client = this.value;

                $.ajax({
                    'url' : 'ajax_main',
                    'data' : {
                        'ajax_data_type' : 'server',
                        'key' : selected_client
                    }, done(function(json)) {
                           console.log(json)
                           var options = '';
                           for(var i=0;i<json.length;i++) {
                                options = 'DUPA'
                                console.log("test")                  
                           }
                           console.log(options)
                           $('#server').removeAttr('disabled').append(options)
                    }
                });



            });
        });
    </script>
    </body>
</html>
